<a href="https://www.flickr.com/photos/{{photo.owner}}/{{photo.id}}"><img class="photo-card__image" src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{photo.title}}"></a>
<div class="photo-card__content">
  <h3 class="photo-card__header">
    <a class="photo-card__owner" href="https://www.flickr.com/photos/{{photo.owner}}">{{photo.ownername}}</a> - <a class="photo-card__title" href="https://www.flickr.com/photos/{{photo.owner}}/{{photo.id}}">{{photo.title ? photo.title : photo.id}}</a>
  </h3>
  <p *ngIf="photo.description" class="photo-card__description" [innerHTML]="photo.description._content"></p>
  <ul class="photo-card__tags" *ngIf="photo.tags">
    <li *ngFor="let tag of photo.tags.split(' ')" class="tag"><a href="https://www.flickr.com/photos/tags/{{tag}}">{{tag}}</a></li>
  </ul>
</div>
