:host {
  display: block;
  margin-bottom: 30px;
}

.photo-card__image {
  width: 100%;
}

.photo-card__content {
  padding: 10px 0;
}

.photo-card__header {
  font-size: 1.3em;
  margin-bottom: .5em;
}

.photo-card__owner {
  font-weight: bold;
}

.photo-card__description {
  margin-bottom: .5em;
}

.photo-card__tags {
  display: inline-block;
  margin-bottom: -10px;
}
