@import "./node_modules/reset-css/_reset";

body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 300;
  color: #1f1f1f;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

.tag {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0 10px 10px 0;
  background-color: #cfd6d9;
  border-radius: 3px;
  font-size: .8em;
}

input {
  &:focus {
    outline: none;
  }
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1f1f1f;
  width: 100%;
  box-sizing: border-box;
}
