<input class="photo-list__search" (keyup)="onKeyUp($event)">
<ul class="photo-list" *ngIf="photos.length">
  <li *ngFor="let photo of photos">
    <app-photo-card [photo]="photo"></app-photo-card>
  </li>
</ul>
<h3 class="photo-list__no-results" *ngIf="!photos.length">Please enter a tag name</h3>
